$background: #f0f0f3;
$neumorphism:
  10px 10px 10px #dadada,
  -3px -3px 20px #ffffff;

$text: orange;
$text-placeholder: #d0d0d0;

$button: #76e5a8;
$button-color: #ffffff;
$button-shadow:
  10px 10px 10px #dadada,
  -3px -3px 20px #ffffff;

$typing-bar: #e9c37c;
$typing-player: #ffffff;

$leave-button: #e9c37c;
$leave-button-color: #ffffff;
